/*---------ABOUT--------------*/
#about {
  text-align: left;
  background-color: #fff;
}




#about .content button {
  color: #fff;
  background: var(--headline--);
  border-style: none;
  width: 18rem;
  border-radius: 2rem;
  height: 5rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  transition: 1s;
  margin-top: 2rem;
}

#about .content button:hover {
  background: var(--green-flourescent);
  width: 18.5rem;
  border-radius: 3rem;
  height: 5.5rem;
  font-size: 1.9rem;
}

.social{
  margin-top: -3rem;
}
.social li a svg{
  color: var(--headline--);
}

.social li a svg:hover{
  width: 3rem;
  transition: 1s;
}

@media (min-width: 1024px) {
  /*------------ABOUT-----------*/
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: "B A";
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about .col-a header h4 {
    font-style: italic;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  #about .col-a header h2 {
    margin-inline: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }

  #about .col-a .content p {
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 400;
    font-family: "Roboto Slab", sans-serif;
    color: var(--brand-beige);
    margin-top: 2rem;
  }
}

@media (max-width: 1011px) {
  #about {
    height: 95.8rem;

  }

  #about .col-a {
    padding: 10rem 0rem;
    text-align: center;
  }

  #about .content button {
    margin-top: 3rem;
  }

  #about .col-a header{
  margin-bottom: 4rem;
  }


}
