#home {
  padding-block: 0;
  padding-top: calc(
    4.1rem + var(--nav-height)
  ); /**Ele permite  fazer  soma dos dois**/
  background: var(--primary-color--);
}

#home::before {
  content: "";
  width: 100%;
  height: calc(76% + var(--nav-height));
  background: var(--brand-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .button {
  margin-inline: auto;
}

#home h1 {
  line-height: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3.4rem;
  color: var(--headline--);
  margin: 10.5rem 0px -2.5rem 0px;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  font-family: "Roboto Slab", sans-serif;
  color: var(--paragraph--);
  margin-bottom: 3.2rem;
}

#home img {
  width: 56.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

@media (min-width: 1024px) {
  /*------------HOME-----------------*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }
  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      "A B"
      "C C"; /**PARA posicionar como desejka**/
  }

  #home .col-a {
    text-align: left;
    align-self: center; /**Alinha bem ao centro dele*/
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 33rem;
  }

  #home .col-b img {
    width: 40rem;
  }
}
