#home {
  padding-block: 0;
  padding-top: calc(
    4.1rem + var(--nav-height)
  ); /**Ele permite  fazer  soma dos dois**/
  background: var(--primary-color--);
  height: 65.8rem;
}

#home::before {
  content: "";
  width: 100%;
  height: calc(76% + var(--nav-height));
  background: var(--brand-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home .wrapper{
  margin-top: -7rem;
}
#home .loader{
  margin-bottom: 4.8rem;
  margin-left: 2rem;
  transform: translate(-50%,-50%);
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  border: 3px solid var(--headline--);
  animation: animate 2s linear infinite;
}


@keyframes animate {
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  25%{
    transform: translate(-50%,-50%) rotate(180deg);
  }
  50%{
    transform: translate(-50%,-50%) rotate(180deg);
  }
  75%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

#home button {
  background:var(--headline--);
  box-shadow: 0 0 20px 4px var(--headline--);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
  padding: 2rem 5rem;
  border-radius: 7px;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

#home h1 {
  line-height: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 5.4rem;
  color: var(--headline--);
  margin: 0.5rem 0px -2.5rem 0px;
}

#home h2 {
  line-height: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2.7rem;
  color: #fff;
}
.line-1{
  position: relative;
  top: 50%;  
  width: 4em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  white-space: nowrap;
  overflow: hidden;
   
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(24) 1s 1 normal both,
           blinkTextCursor 500ms steps(24) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 11em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

#home h3 {
  line-height: 150%;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #fff;
  margin: 2.5rem 0px;
}

#home p {
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
  font-family: "Roboto Slab", sans-serif;
  color: var(--paragraph--);
  margin-bottom: 3.2rem;
}

#home .animationPhoto {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
  width: 60.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
  margin-top: -2rem;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 45px);
  }
  to {
    transform: translate(0, -0px);
  }
}
@media (min-width: 1024px) {
  /*------------HOME-----------------*/
  #home::before {
    height: calc(96% - var(--nav-height));
  }

  #home {
    padding-top: var(--nav-height);
  }
  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      "A B"
      "C C"; /**PARA posicionar como desejka**/
  }

  #home .col-a {
    text-align: left;
    align-self: center; /**Alinha bem ao centro dele*/
  }

  #home h1 {
    font-size: 6.2rem;
  }

  #home .content p {
    font-size: 1.2rem;
  }

  #home .col-b img {
    width: 57rem;
  }
}


@media (max-width: 1011px) {
  #home {
    height: 95.8rem;
  }
  #home .col-b img {
    margin-top: 4rem;
    width: 29rem;
  }
}

@media (max-width: 600px) {
  #home .animationPhoto {
   
    width: 20.4rem;
  
  }

  #home .col-b img {
    width: 27rem;
  }
}

