/*---------PROJECTS--------------*/
#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1C1C1C;
  transition: background 0.4s ease-in;
}

#projects header {
  color: #000;
  margin-top: -3rem;
}

#projects header h2 {
  margin-bottom: 6rem;
  width: 42rem;
  margin-inline: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#projects header h4 {
  font-style: italic;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@media (max-width: 1020px) {
  #projects {
    height: 70rem;
    padding: 15rem 0rem;
  }
}
