.back{
    background: #000;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.box-grid{
    background-color:#fff;
    width: 48rem;
    height: 37rem;
    border-radius: 12px;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(29,29,29);
    transition: all ease-out .4s;
    margin-top: 3rem;
}

.box-grid h2{
    color: var(--headline--);
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    padding: 5rem 0rem;
}

.box-grid .box{
 margin-top: -rem;
 display: flex;
}

.box-grid .box .content{
    width: 100%;
    margin-top: -2.6rem;
    padding: 0rem 5rem;
}

.box-grid .box .content h3{
    padding: 1rem 0rem;
    font-size: 1.7rem;
    font-weight: 800;
    font-family: 'poppins', sans-serif;
    text-align: left;
}

.box-grid .box .content .pink{
color: var(--headline--);
}

.box-grid .box .content .green{
    color: var(--green-flourescent);
    }