
 body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*="number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(62, 2, 91, 100) 0%,
    rgba(167, 1, 212, 100) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(8, 110, 166, 100) 0%,
    rgba(5, 79, 119, 100) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(0, 128, 128, 100) 0%,
    rgba(4, 162, 162, 100) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(0, 128, 0, 100) 0%,
    rgba(4, 163, 4, 100) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(14, 14, 14, 100) 0%,
    rgba(13, 1, 61, 100) 100%
  );
}


.keen-slider {
  width: 100%;
}

.keen-slider__slide {
  cursor: pointer;
  height: 42rem;
  border-radius: 8px;
}

.keen-slider__slide .photo {
  width: 32rem;
  height: 17rem;
}

.keen-slider__slide .content-keen h3 {
  font-size: 2.9rem;
  font-family: "poppins", sans-serif;
  font-weight: 700;
}

.keen-slider__slide .content-keen p {
  font-size: 1.8rem;
  font-family: "poppins", sans-serif;
  color: #94a3b8;

  text-align: center;
  font-weight: 300;
  margin: 3rem 0rem;
}

.keen-slider__slide .content-keen .button-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.keen-slider__slide .content-keen Button {
  border-radius: 10rem;
  border: none;
  height: 4rem;
  width: 10rem;
}



.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(37, 37, 37, 0.6);
	color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
  text-align: center;
}

.image__overlay p{
 font-size: 1.7rem;
 margin-left: 2.7rem;
}

.image__overlay--blur {
	backdrop-filter: blur(5px);
}

.image__overlay--primary {
	background: #0a0a0a;
  
}

.image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

.image__overlay a{
	text-decoration: none;
  color: #fff;
}

.image__overlay:hover {
	opacity: 1;
}

.image__overlay:hover>* {
	transform: translateY(0);
}

.image__title {
	font-size: 4rem;
	font-weight: bold;
  text-decoration: none;
}

.image__description {
	font-size: 2rem;
	margin-top: 1.75em;
  width: 80%;

}

.image__title {
	font-size: 4rem;
	font-weight: bold;

}


@media (max-width: 950px) {
  .keen-slider__slide {

    height: 30rem;

  }

  .keen-slider__slide .photo {
    width: 20rem;
    height: 12rem;
  }

 }

 @media (max-width: 600px) {
  .keen-slider__slide .photo {
    width: 14rem;
    height: 7.6rem;
  }

 }

